portal/backend/node_modules/
portal/backend/dist/
portal/backend/.env
/libraries/java-ant/phoenix-java-ant/nbproject/private/
/libraries/java-ant/phoenix-java-ant/build/
/libraries/java-ant/phoenix-java-ant/dist/
